body {
  background-color: #111;
  color: #fff;
}

.content {
  padding: 20px;
  line-height: 1.25em;
}

.custom-nav li {
  display: inline-block; /* allow us to can set margin and padding */
}

.custom-nav {
  background-color: #222222;
}

#main {
  width: 800px;
  margin: 0 auto;
}
