<html>
<head>
  <title>Favourite Beer Tracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
  <div class="ui text container">
    <h1 class="ui header">Favourite Beers</h1>
    <form action="." method="post">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <input type="text" name="name" placeholder="Your Name">
          </div>
          <div class="field">
            <input type="text" name="beer" placeholder="Beer of Choice">
          </div>
          <div class="field">
            <input type ="submit" class="ui submit button" value="Submit" />
          </div>
        </div>
      </div>
    </form>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Beer of Choice</th>
        </tr>
      </thead>
      {% for name, beer in fav_beer.items() %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ beer }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
